<div class="span6">
  <%= form_for(@note, :html => {:class => "well"}) do |f| %>
    <% if @note.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>

        <ul>
        <% @note.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.label :note %>
    <%= f.text_field :note, :class => "span5" %>
    <%= f.submit :class => "btn-success" %>
  <% end %>
</div>
