<div class="row">
  <div class="page-header">
    <h1>Tutorial</h1>
  </div>
  <div class="row">
    <ol>
      <li class="trustauth-tutorial-li span12">Download and install the addon.<%= image_tag "screen-1.png", :class => "trustauth-tutorial-img thumbnail" %></li>
      <li class="trustauth-tutorial-li span12">Click to allow the addon installation.<%= image_tag "screen-2.png", :class => "trustauth-tutorial-img thumbnail" %></li>
      <li class="trustauth-tutorial-li span12">Click install now to complete the addon installation.<%= image_tag "screen-3.png", :class => "trustauth-tutorial-img thumbnail" %></li>
      <li class="trustauth-tutorial-li span12">If you see this the addon was successfully installed.<%= image_tag "screen-4.png", :class => "trustauth-tutorial-img thumbnail" %></li>
      <li class="trustauth-tutorial-li span12">Find the TrustAuth button (it looks like a beer glass) and click on it. Then click on login.<%= image_tag "screen-5.png", :class => "trustauth-tutorial-img thumbnail" %></li>
      <li class="trustauth-tutorial-li span12">Since you just installed the addon, TrustAuth will ask you to create a master password. Remember this because it is required to unlock the addon after restarting Firefox.<%= image_tag "screen-6.png", :class => "trustauth-tutorial-img thumbnail" %></li>
      <li class="trustauth-tutorial-li span12">Now that you've created a password you can login to this demo site by clicking login again.<%= image_tag "screen-5.png", :class =>"trustauth-tutorial-img thumbnail" %></li>
      <li class="trustauth-tutorial-li span12">After a few moments, TrustAuth will have finished generating your key and will log you into the site.<%= image_tag "screen-7.png", :class => "trustauth-tutorial-img thumbnail" %></li>
      <li class="trustauth-tutorial-li span12">As a test, try leaving a note for yourself.<%= image_tag "screen-8.png", :class => "trustauth-tutorial-img thumbnail" %></li>
      <li class="trustauth-tutorial-li span12">After you click logout, click login again and your note should be there!<%= image_tag "screen-9.png", :class => "trustauth-tutorial-img thumbnail" %></li>
    </ol>
  </div>
</div>
