<% cache('static/index') do %>
  <div class="hero-unit">
    <!--<h1 class="text-center"><span class="trust-tan">Trust</span><span class="auth-green">Auth</span></h1>-->
    <div id="logo-div" class="text-center"><%= image_tag "TrustAuth_full_logo_900.png" %></div>
    <p id="main-text" class="text-center">A secure, easy way to login.</p>
  </div>
  <div class="row">
    <div class="text-center span12">
      <%= link_to "Learn More", "overview", :class => "main-btn btn btn-large" %>
      <%= link_to "Download Now!", "https://addons.mozilla.org/en-US/firefox/addon/trustauth/", :class => "main-btn btn btn-large btn-success" %>
    </div>
  </div>
  <div class="row trustauth-pad30">
    <div class="span12 text-center">
      <ul class="unstyled horizontal">
        <li class="trustauth-pad20r"><%= link_to "Blog", "/blog" %></li>
        <li class="trustauth-pad20r"><%= link_to "Twitter", "https://twitter.com/trustauth" %></li>
        <li class="trustauth-pad20r"><%= link_to "Roadmap", "https://github.com/romaimperator/trustauth-firefox/wiki/Roadmap" %></li>
        <li class="trustauth-pad20r"><%= link_to "Add-on Source", "https://github.com/romaimperator/trustauth-firefox" %></li>
        <li class="trustauth-pad20r"><%= link_to "WordPress Plugin", "http://wordpress.org/extend/plugins/trustauth/" %></li>
        <li><%= link_to "PHP Library", "https://github.com/romaimperator/trustauth-php" %></li>
      </ul>
    </div>
  </div>
  <div class="row attributions">
    <div class="span8 offset2">
      <p>My name is Dan Fox and I'm a graduate student at Southern Illinois University Edwardsville.
      I created TrustAuth to help fix the current issues with using passwords for authentication on websites. If you
      have questions feel free to join the project IRC in #trustauth on Freenode.</p>
    </div>
    <div class="span8 offset2">
      <p>I would like to thank the following people and groups:</p>
      <ul>
        <li><%= link_to "Security Now!", "http://twit.tv/sn" %>,
        <%= link_to "Steve Gibson", "https://twitter.com/#!/SGgrc" %>, and
        <%= link_to "Leo Laporte", "http://leoville.com/" %> for teaching
        me all about security and for providing a great podcast week after week.</li>
        <li><%= link_to "CodeSchool", "http://www.codeschool.com/" %> for ideas and a starting theme for
        the slides. Also for being such an awesome company helping people learn programming in a better way.</li>
        <li><%= link_to "Chris Oliver", "http://excid3.com/" %> for design ideas, project ideas, and general awesomeness.</li>
        <li><%= link_to "Kyle Knight", "https://twitter.com/#!/idpro" %> for design tips and ideas and some javascript help.</li>
        <li><%= link_to "Travis McCrea", "http://travismccrea.com" %> for the project name "TrustAuth".</li>
        <li><%= link_to "Digital Bazaar", "http://digitalbazaar.com/" %> for the <%= link_to "Forge Library", "https://github.com/digitalbazaar/forge" %> used in the add-on for cryptography.</li>
        <li><%= link_to "The phpseclib", "http://phpseclib.sourceforge.net/" %> used for cryptography in the PHP library.</li>
      </ul>
    </div>
  </div>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<% end %>
