<div class="hero-unit">
  <h1 class="text-center"><span class="trust-tan">Trust</span><span class="auth-green">Auth</span></h1>
  <p id="main-text" class="text-center">A secure, easy way to login.</p>
</div>
<div class="row">
  <div class="text-center span12">
    <%= link_to "Learn More", "overview", :class => "main-btn btn btn-large" %>
    <%= link_to "Download Now!", "https://addons.mozilla.org/en-US/firefox/addon/trustauth/", :class => "main-btn btn btn-large btn-success" %>
  </div>
</div>
<div class="row trustauth-pad30">
  <div class="span12 text-center">
    <ul class="unstyled horizontal">
      <li class="trustauth-pad20r"><%= link_to "Project Roadmap", "https://github.com/romaimperator/trustauth-firefox/wiki/Roadmap" %></li>
      <li class="trustauth-pad20r"><%= link_to "Get the addon source", "https://github.com/romaimperator/trustauth-firefox" %></li>
      <li class="trustauth-pad20r"><%= link_to "Get the PHP script", "https://github.com/romaimperator/trustauth-php" %></li>
      <li><%= link_to "Get the demo site source", "https://github.com/romaimperator/trustauth-demo" %></li>
    </ul>
  </div>
</div>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
