<!DOCTYPE html>
<html>
<head>
  <title>RailsDemo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= trustauth_url %>
</head>
<body>

  <div class="container">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="row">
      <div class="span12">
        <%= yield %>
      </div>
    </div>
  </div>


</body>
</html>
