<!DOCTYPE html>
<html>
<head>
  <title>TrustAuth</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '4fe35aa3f5a1f51846000006');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
  </script>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-30700024-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body onload="window.prettyPrint && prettyPrint()">

  <div class="container">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a href="/" class="brand"><span class="trust-tan">Trust</span><span class="auth-green">Auth</span></a>
          <ul class="nav">
            <%= nav_button "/overview", link_to("Overview", "overview") %>
            <%= nav_button "/tutorial", link_to("Add-on Tutorial", "tutorial") %>
            <%= nav_button "/server_details", link_to("WordPress Tutorial", "server_details") %>
            <%= nav_button "/technical_details", link_to("Technical Details", "technical_details") %>
            <li><%= link_to content_tag(:span, "Try it Out!", :class => "auth-green"), "demo" %></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="span12">
        <%= yield %>
      </div>
    </div>

    <div class="row">
      <div class="span12">
        <footer class="footer">
          <div class="row trustauth-pad10">
            <div class="span12 small-text text-center">
              <span class="trustauth-pad20h">&copy; 2012 Dan Fox</span> |
              <%= link_to "email me", "mailto:romaimperator@gmail.com", :class => "trustauth-pad20h" %> |
              <%= link_to "tweet me", "https://twitter.com/romaimperator", :class => "trustauth-pad20h" %> |
              <%= link_to "checkout my GitHub", "https://github.com/romaimperator", :class => "trustauth-pad20h" %>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </div>
</body>
</html>
