<!DOCTYPE html>
<html>
<head>
  <title>RailsDemo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= trustauth_url %>
</head>
<body onload="window.prettyPrint && prettyPrint()">

  <div class="container">
    <% if notice %><p class="notice"><%= notice %></p><% end %>
    <% if alert %><p class="alert"><%= alert %></p><% end %>
    <% if user_signed_in? %>
      <%= link_to "Sign Out", destroy_user_session_path, :method => :delete, :class => "pull-right" %>
    <% end %>
    <div class="row">
      <div class="span12">
        <%= yield %>
      </div>
    </div>
  </div>


</body>
</html>
